## macOS
.DS_Store

## Editor settings
.vscode/

## LaTeX intermediate files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv

## Glossaries / acronyms
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
